@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

main {
    min-height: 100vh - 90px;
}

h1 {
    text-decoration: none;
    color: #901C1C;
    margin-right: 100px;
    font-weight: lighter;
}
h2, h3, h4, h5, h6, span, p, a {
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    color: #D3573C;
    font-weight: 200;
    margin-bottom: 5px;
}

h4{
    color: #901c1c;
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 5px;
}

h5{
    color: #000;
}

p{
    color: grey;
    font-size: 14px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 90px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 30px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: #2c2c2c 0px 0px 10px;
}

.Title_a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}